{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}
{% block title %}entity{% endblock %}

  {% block top_menu %}
          <nav class="navbar navbar-default fixed-top navbar navbar-dark bg-dark" style="height:65px;width: auto">
              <div class="navbar-header">
                  <h3 class="btn btn-lg" id="side-menu-close" style="font-size: 1.4em;color: white;"> Meniu
                      <i id="side-menu-close-icon" style="font-size: 1.2em;" class="fa fa-bars" aria-hidden="true"></i>
                  </h3>
              </div>

              <a class="navbar-brand" href="{{ path('main') }}"><h3>DAIS</h3></a>

              <ul class="nav navbar-top-links navbar-right">
                  <li class="divider"></li>
                  <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i>{% trans %} Logout{% endtrans %}</a>
                  </li>
              </ul>
          </nav>
  {% endblock %}

{% block body %}
    <style>

        body{
            background-color: #F0F1F6;
        }

        #main_container{
            display: flex;
            width: 100%;
        }

        #main_container{
            padding-top: 65px;
        }

        #wrapper {
            position: relative;
            padding-left: 0px;
            transition: all 0.4s ease 0s;
            float: left;
            width: 100%;
        }

        #wrapper.active {
            width: available;
            padding-left: 0px;
            left: 0px;
        }
        #wrapper.active  #sidebar-wrapper {
            left: 0px;
            width: 0px
        }
        #wrapper.active  #page-content-wrapper {
            padding-left: 0px;
        }

        #sidebar-wrapper {
            color: white;
            margin-left: -250px;
            left: 250px;
            right:0px;
            width: 250px;
            background: #343A40;
            position: fixed;
            height: 100%;
            overflow-y: auto;
            z-index: 1000;
            transition: all 0.4s ease 0s;
        }

        #page-content-wrapper {
            width: 100%;
            padding-left: 225px;
            transition: all 0.4s ease 0s;
        }

        #content-header{
            padding: 10px;
            text-align: center;
        }

        .search-input{
            margin-left: 4px;
            margin-bottom: 4px;

        }

        #side-menu {
            position: absolute;
            top: 0;
            width: 250px;
            list-style: none;
            margin: 0;
            padding-left: 15px;
            padding-top: 20px;
        }

        #sidebar-wrapper a:hover{
            background-color: #428bca;
        }

        .pagination {
            padding-top: 10px;
            display: table;
            margin: 0 auto;
        }

        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            border: 1px solid #ddd; /* Gray */
            border-radius: 8px;
        }

        .pagination a.active-page {
            color: white;
            background-color: #007BFF;
        }

        .pagination a:hover:not(.active-page) {
            background-color: #ddd;
        }

        #sidebar_container ul, li {
            list-style-type: none;
            padding-top: 3px;
            margin:auto;
        }
        .dropdown-trigger, .side-button{
            padding: 0px;
            margin: 0px;
            display:inline;
        }
        .dropdown-content {
            display: none;
        }

        #side-menu-close{
            transition: 500ms;
        }

        #side-menu-close:not(.active){
            transform: translate(35px, 0px);
        }

        #side-menu-close.active{
            transform: translate(0px, 0px);

        }
    </style>

    <script>
        var txt;

        $(document).ready(function () {

            initSideMenu();

            sideMenuToggle();

            dropdownClick();

            viewToggle();

            $("#winter-roads-container").hide();

            triggerClick("#winter-road-trigger","#winter-road-content","#winter-icon");

            paginatorClick(".winter_page");
        });

        function viewToggle() {
            $(document).on("click", ".side-button", function() {
                var id = $(this).attr('id');
                var header = $(this).html();

                if($(this).attr("data-type") == 1){
                    $("#winter-roads-container").hide();

                } else if($(this).attr("data-type") == 2){
                    $("#winter-roads-container").show();
                    header += " kelių tarnyba";
                    winterRoadAjax(id,0);

                }else if($(this).attr("data-type") == 3){
                    $("#winter-roads-container").hide();
                    header += " master tarnyba";

                }else{

                }

                $("#content-header").html(header);

            });
        }

        function sideMenuToggle() {
            $(document).on("click", "#side-menu-close", function() {
                $(this).toggleClass("active");
                $("#wrapper").toggleClass("active");
            });
        }

        function paginatorClick(page_type) {
            $(document).on("click", page_type, function() {
                winterRoadAjax($(this).attr("data-master"), $(this).attr("data-winter-page"));
            });
        }

        function triggerClick(trigger, content, icon) {
            $(document).on("click", trigger, function() {

                $(content).stop();
                $(icon).toggleClass("fa-plus").toggleClass("fa-minus");

                $(content).slideToggle("fast","linear",function () {
                    $(icon).toggleClass("open");
                });

            });
        }

        function addPagination(object, page_count, current_page, id) {
            object.html('');
            txt = ""

            if (current_page <= 3)
            {
                for (i = 1; i < page_count; i++) {
                    if (i > 5) {
                        break;
                    }
                    txt += "<a data-master=" + id + " data-winter-page=" + i + " class='winter_page' >" + i + "</a>"
                }

                txt += "<a class='disabled' > .... </a>"
                txt += "<a data-master=" + id + " data-winter-page=" + page_count + " class='winter_page' >" + page_count + "</a>"

            } else if (current_page > page_count-3) {
                txt += "<a data-master=" + id + " data-winter-page=" + 1 + " class='winter_page' >" + 1 + "</a>"
                txt += "<a class='disabled' > .... </a>"

                for (i = -4; i <= 0;i++ ) {
                    var page_num = parseInt(page_count)+i;
                    txt += "<a data-master=" + id + " data-winter-page=" + page_num + " class='winter_page' >" + page_num + "</a>"
                }
            } else {
                txt += "<a data-master=" + id + " data-winter-page=" + 1 + " class='winter_page' >" + 1 + "</a>"
                txt += "<a class='disabled' > .... </a>"

                for (i = -2; i <= 2;i++ ) {
                    var page_num = parseInt(current_page)+i;
                    txt += "<a data-master=" + id + " data-winter-page=" + page_num + " class='winter_page' >" + page_num + "</a>"
                }

                txt += "<a class='disabled' > .... </a>"
                txt += "<a data-master=" + id + " data-winter-page=" + page_count + " class='winter_page' >" + page_count + "</a>"
            }

            object.append(txt);

            object.find('*[data-winter-page="'+ current_page +'"]').addClass("active-page");
        }

        function winterRoadAjax(id, winter_roads_page) {

            var ajaxRoads = $.ajax({
                url: '/structure/ajax/winter_roads',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {name: id, page: winter_roads_page}
            });

            ajaxRoads.done(function(data) {
                $('#winter-roads-page').html('');
                $('#winter-roads').html('');

                console.log(data);

                for (i = 0; i < data[1].length; i++) {
                    structure = data[1][i];

                    var route = "{{ path('user_show', { 'slug': "PLACEHOLDER" }) }}";
                    route = route.replace("PLACEHOLDER", structure['section_id']);

                    var e = $('<div style="text-align: center;color: black;" class=\'col-md-4 col-lg-3 p-1\'>' +
                        '<a class="btn-primary btn-lg btn-block" style="color: black;" href=' + route + '>' + structure['section_id'] +"<br/>(" + structure['section_begin'] +"->"+ structure['section_end'] + ')</a>' +
                        '</div>');
                    $('#winter-roads').append(e);
                }

                addPagination($("#winter-road-pages"),data[0],winter_roads_page,id);

            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });

        }

        function dropdownClick() {
            $(document).on("click", ".dropdown-trigger", function() {
                $(".dropdown-content").stop();

                $(".dropdown-content").not(
                    $(this).parents('.dropdown-content')).not(
                    $(this).next(),
                ).slideUp();

                $(this).next().slideToggle();
            });
        }

        function initSideMenu() {
            var json = {{ structure|json_encode|raw }};

            var myObj = JSON.parse(json);

            txt = "<div class='row-fluid' id='sidebar_container'>"
            findObject(myObj);
            txt += "</div>"

            $('#side-menu').append(txt);
        }

        function findObject(object) {
            if (object != null) {

                var bool = true;

                for (x in object) {
                    if (object[x].array.length > 0) {
                        txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].StructureId+"' class=' btn btn-lg btn-block side-button dropdown-trigger '>" + object[x].Name + "</a>"
                        txt += "<ul class='dropdown-content'>"
                                findObject(object[x].array);
                        txt += "</ul></li>"

                    } else if(object[x].InformationType != 0) {
                       //     txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].StructureId+"' class=' btn btn-lg btn-block kt_button'>" + object[x].Name + "</a>"
                            txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].StructureId+"' class=' btn btn-lg btn-block side-button'>" + object[x].Name + "</a>"
                            txt += "<div class='dropdown-content'>"
                            txt += "</div></li>"
                        }
                    }
                }
            }
    </script>

<div id="wrapper">
    <div class="container-fluid" id="main_container">
        <div id="sidebar-wrapper">
            <div id="side-menu">
        </div>
    </div>
        <div id="page-content-wrapper">
            <div id="content" class="container-fluid">
                <h1 id="content-header"></h1>
                <div>
                    <div id="winter-roads-container" class="card border-primary" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                        <div class="car-header">
                            <h1 id="winter-road-trigger" style="text-align: center;padding-top: 10px;">Žiemos keliai <i id="winter-icon" style="font-size: 1em;" class="fa fa-minus" aria-hidden="true"></i></h1>
                        </div>
                        <div id="winter-road-content">
                            <div id="winter_search_bar" class="card-body row">
                                <div class="col-md-3">
                                    <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                                </div>
                                <div class="col-md-3">
                                    <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                                </div>
                                <div class="col-md-3">
                                    <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                                </div>
                                <div class="col-md-3">
                                    <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                                </div>
                            </div>

                            <div id="winter-roads" class="row" style="margin:10px;"></div>
                            <ul id="winter-road-pages" class="pagination" style="padding: 10px;"></ul>
                        </div>

                    </div>
                </div>

                <div>
                    <div id="winter_roads2" class="row"></div>
                    <ul id="winter_road_pages2" class="pagination">
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="user-panel">

    </div>
{% endblock %}
