{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}
{% block title %}entity{% endblock %}

  {% block top_menu %}
              <nav class="navbar navbar-default navbar-static-top navbar navbar-dark bg-dark" style="margin-bottom: 0">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="{{ path('main') }}">DAIS</a>
                  </div>
                  <ul class="nav navbar-top-links navbar-right">
                      <li class="divider"></li>
                      <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i>{% trans %} Logout{% endtrans %}</a>
                      </li>
                  </ul>
              </nav>
  {% endblock %}

{% block body %}
    <style>
        #main_container{
            display: flex;
            width: 100%;
        }
        #sidebar_container a:hover{
            background-color: #428bca;
        }
        #side-menu{
            color:black;
            position:absolute;
            left:0;
            top:10px;
            z-index:1;
            width:100%;
            padding:45px 10px 0px;
            margin-bottom: 20px;
            background-color:#8DB9DF;
            border-left: 6px solid #2E618D;
            visibility:visible;
            overflow:visible;
            -webkit-overflow-scrolling:touch;
            -webkit-transition:opacity .2s 0s,visibility 0s 0s;
            -moz-transition:opacity .2s 0s,visibility 0s 0s;
            transition:opacity .2s 0s,visibility 0s 0s;
            max-height:none;
            box-shadow:0 2px 10px rgba(0,0,0,.2)


        }
        #sidebar_container ul, li {
            list-style-type: none;
            padding-top: 3px;
            margin:auto;
        }
        .dropdown-trigger{
            padding: 0px;
            margin: 0px;
            display:inline;
        }
        .dropdown-content {
            display: none;
        }
    </style>


    <script>

        //href="{{ path('structure_inner', {'slug': 0}) }}>"
        var array;
        var txt;

        $(document).ready(function () {

            $(document).on("click", ".dropdown-trigger", function() {
                var id = $(this).attr('id');

                if ($(this).attr("data-type") == 2) {
                    $.ajax({
                        url: '/structure/ajax',
                        type: 'POST',
                        dataType: 'json',
                        async: true,
                        data: {name: id},

                        success: function (data, status) {

                            $('#structure').html('');
                            var e = $('<h2 style="text-align: center;color: black;" class=\' col-12 p-1\'>Darbuotoju sarašas</h2>');

                            $('#structure').append(e);

                            for (i = 0; i < data.length; i++) {
                                structure = data[i];

                                var route = "{{ path('user_show', { 'slug': "PLACEHOLDER" }) }}";
                                route = route.replace("PLACEHOLDER", structure['name']);

                                var e = $('<div style="text-align: center;color: black;" class=\' col-sm-6 col-sm-4 col-lg-2 p-1\'>' +
                                    '<a class="btn-primary btn-lg btn-block" style="color: black;" href=' + route + '>' + structure['name'] + '</a>' +
                                    '</div>');


                                $('#structure').append(e);
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            alert('Ajax request failed.');
                        }
                    });
                }
                $(this).next().slideToggle();
            });

            var json = {{ structure|json_encode|raw }};

            var myObj = JSON.parse(json);

            txt = "<div class='row-fluid' id='sidebar_container'>"
                findObject(myObj);
            txt += "</div>"

            $('#side-menu').append(txt);
        });

        function findObject(object) {
            if (object != null) {

                var bool = true;

                for (x in object) {
                    if (object[x].array.length > 0) {
                        txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].Name+"' class=' btn btn-lg btn-block dropdown-trigger '>" + object[x].Name + "</a>"
                        txt += "<ul class='dropdown-content'>"
                                findObject(object[x].array);
                        txt += "</ul></li>"

                    } else if(object[x].InformationType != 0) {
                            txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].Name+"' class=' btn btn-lg btn-block dropdown-trigger'>" + object[x].Name + "</a>"
                            txt += "<div class='dropdown-content'>"
                            txt += "</div></li>"
                        }
                    }
                }
            }

    </script>

    <div class="container-fluid row" id="main_container">
      <div class="sidebar hidden-xs col-sm-5 col-md-5 col-lg-3">
       <div id="side-menu">
            <h3> Navigacijos meniu </h3>
            <hr>
        </div>
      </div>
        <div class=" col-sm-7 col-md-7 col-lg-9" id='content-menu'>
            <div id="content" class="container-fluid">
                {{ include('structure/content.html.twig') }}
            </div>
        </div>
    </div>

    <div id="user-panel">

    </div>
{% endblock %}
