{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}
{% block title %}entity{% endblock %}

  {% block top_menu %}
          <nav class="navbar navbar-default sticky-top navbar navbar-dark bg-dark" style="width: auto">
              <div class="navbar-header">
                  <a class="navbar-brand" href="{{ path('main') }}">DAIS</a>
              </div>
              <ul class="nav navbar-top-links navbar-right">
                  <li class="divider"></li>
                  <li><a href="{{ path('logout') }}"><i class="fa fa-sign-out fa-fw"></i>{% trans %} Logout{% endtrans %}</a>
                  </li>
              </ul>
          </nav>
  {% endblock %}

{% block body %}
    <style>
        #main_container{
            display: flex;
            width: 100%;
        }
        #sidebar_container a:hover{
            background-color: #428bca;
        }
        #side-menu{
            color:white;
            position:fixed;
            left:0;
            z-index:1;
            padding-right: 50px;
            margin-bottom: 20px;
            padding-left: 15px;
            background-color:#343A40;
            height: 100vh;
            border-right: 6px solid #394046;
            visibility:visible;
            overflow:visible;
            max-height:none;
            box-shadow:0 2px 10px rgba(0,0,0,.2)
        }
        .pagination {
            display: inline-block;
        }
        .pagination a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }
        .pagination a.active {
            background-color: #4CAF50;
            color: white;
        }
        #sidebar_container ul, li {
            list-style-type: none;
            padding-top: 3px;
            margin:auto;
        }
        .dropdown-trigger, .kt_button{
            padding: 0px;
            margin: 0px;
            display:inline;
        }
        .dropdown-content {
            display: none;
        }
    </style>

    <script>
        var array;
        var txt;
        var page_count = 0;

        function addPagination(object, page_count, current_page, id) {
            object.html('');
            txt = ""

        var count=0;

            console.log(page_count)
            console.log(current_page);

            if(current_page <=3)
            {
                for (i = 1; i < 4; i++) {
                    count++;
                    txt += "<a data-master=" + id + " data-winter-page=" + i + " class='winter_page' style='color: black;'>" + i + "</a>"
                }
                for (i = 4; i < page_count; i++) {
                    count++;
                    if(count>7)
                    {
                        break;
                    }
                    txt += "<a data-master=" + id + " data-winter-page=" + i + " class='winter_page' style='color: black;'>" + i + "</a>"
                }

                count=0;

            }else{
                txt += "<a data-master=" + id + " data-winter-page=" + 1 + " class='winter_page' style='color: black;'>" + 1 + "</a>"
                txt += "<a class='disabled' style='color: black;'> .... </a>"

                for (i = current_page-2; i < current_page; i++) {
                    count++;
                    txt += "<a data-master=" + id + " data-winter-page=" + i + " class='winter_page' style='color: black;'>" + i + "</a>"
                }
                for (i = current_page; i < page_count; i++) {
                    count++;
                    if(count>5)
                    {
                        break;
                    }
                    txt += "<a data-master=" + id + " data-winter-page=" + i + " class='winter_page' style='color: black;'>" + i + "</a>"
                }

                txt += "<a class='disabled' style='color: black;'> .... </a>"

                txt += "<a data-master=" + id + " data-winter-page=" + page_count + " class='winter_page' style='color: black;'>" + page_count + "</a>"

                count=0;

            }

            object.append(txt);
        }

        function winterRoadAjax(id, winter_roads_page) {

            var ajaxRoads = $.ajax({
                url: '/structure/ajax/winter_roads',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {name: id, page: winter_roads_page}
            });

            ajaxRoads.done(function(data) {

                $('#winter_roads').html('');

                $('#winter_roads').append('<h2 style="text-align: center;color: black;" class=\' col-12 p-3\'>Ziemos keliu sarašas</h2>');

                for (i = 0; i < data.length; i++) {
                    structure = data[i];
                    console.log(structure);

                    var route = "{{ path('user_show', { 'slug': "PLACEHOLDER" }) }}";
                    route = route.replace("PLACEHOLDER", structure['section_id']);

                    var e = $('<div style="text-align: center;color: black;" class=\' col-sm-12 col-sm-4 col-lg-3 p-1\'>' +
                        '<a class="btn-primary btn-lg btn-block" style="color: black;" href=' + route + '>' + structure['section_id'] +"<br/>(" + structure['section_begin'] +"->"+ structure['section_end'] + ')</a>' +
                        '</div>');
                    $('#winter_roads').append(e);
                }

                addPagination($("#winter_road_pages"),page_count,winter_roads_page,id);

            }).fail(function(jqXHR, textStatus, errorThrown) {
                alert(textStatus + ': ' + errorThrown);
            });

        }

        function winterRoadCount(id) {

            var ajaxRoadsCount = $.ajax({
                url: '/structure/winter_jobs_count',
                type: 'POST',
                dataType: 'json',
                async: true,
                data: {name: id}
            });

            ajaxRoadsCount.done(function(data) {
                page_count = data;
            });
        }

/*
            $.when(ajaxRoads, ajaxRoadsCount).done(function(ajax_roads, ajax_roads_count) {
                $('#winter_roads').html('');

                $('#winter_roads').append('<h2 style="text-align: center;color: black;" class=\' col-12 p-3\'>Ziemos keliu sarašas</h2>');

                for (i = 0; i < ajax_roads[0].length; i++) {
                    structure = ajax_roads[0][i];

                    var route = "{{ path('user_show', { 'slug': "PLACEHOLDER" }) }}";
                    route = route.replace("PLACEHOLDER", structure['section_id']);

                    var e = $('<div style="text-align: center;color: black;" class=\' col-sm-12 col-sm-4 col-lg-3 p-1\'>' +
                        '<a class="btn-primary btn-lg btn-block" style="color: black;" href=' + route + '>' + structure['section_id'] +"<br/>(" + structure['section_begin'] +"->"+ structure['section_end'] + ')</a>' +
                        '</div>');
                    $('#winter_roads').append(e);
                }

                addPagination($("#winter_road_pages"),ajax_roads_count[0][0],winter_roads_page,id);

            });*/

        $(document).ready(function () {

            initSideMenu();

            winterRoadCount();

            dropdownClick();

            $(document).on("click", ".winter_page", function() {
                winterRoadAjax($(this).attr("data-master"), $(this).attr("data-winter-page"));
            });

            $(document).on("click", ".kt_button", function() {
                var id = $(this).attr('id');
                    if ($(this).attr("data-type") == 2) {
                        if(page_count == 0)
                        {
                            winterRoadCount(id);
                        }
                        winterRoadAjax(id,0);
                    }
            });

        });

        function dropdownClick() {
            $(document).on("click", ".dropdown-trigger", function() {

                if ($(this).attr("data-type") == 3) {
                    $('#content').append('<h2 style="text-align: center;color: black;" class=\' col-12 p-3\'>MES ESAME MASTER KT</h2>');
                }

                $(".dropdown-content").not(
                    $(this).parents('.dropdown-content')).not(
                    $(this).next(),
                ).slideUp();

                $(this).next().slideToggle();
            });
        }

        function initSideMenu() {
            var json = {{ structure|json_encode|raw }};

            var myObj = JSON.parse(json);

            txt = "<div class='row-fluid' id='sidebar_container'>"
            findObject(myObj);
            txt += "</div>"

            $('#side-menu').append(txt);
        }

        function findObject(object) {
            if (object != null) {

                var bool = true;

                for (x in object) {
                    if (object[x].array.length > 0) {
                        txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].Name+"' class=' btn btn-lg btn-block dropdown-trigger '>" + object[x].Name + "</a>"
                        txt += "<ul class='dropdown-content'>"
                                findObject(object[x].array);
                        txt += "</ul></li>"

                    } else if(object[x].InformationType != 0) {
                            txt += "<li><a data-type='"+object[x].InformationType+"' id='"+object[x].Name+"' class=' btn btn-lg btn-block kt_button'>" + object[x].Name + "</a>"
                            txt += "<div class='dropdown-content'>"
                            txt += "</div></li>"
                        }
                    }
                }
            }
    </script>

    <div class="container-fluid row" id="main_container">
      <div class="sidebar hidden-xs col-sm-5 col-md-5 col-lg-3">
       <div id="side-menu">
           <br>
            <h3> Navigacijos meniu </h3>
            <hr>
        </div>
      </div>
        <div class=" col-sm-7 col-md-7 col-lg-9" id='content-menu'>
            <div id="content" class="container-fluid">
                <div class="row-fluid">
                    <div id="users" class="row"></div>
                    <div id="user_pages" class="pagination">
                    </div>
                </div>
                <div>
                    <div id="winter_roads" class="row"></div>
                    <div id="winter_road_pages" class="pagination">
                    </div>

                </div>
        </div>

    </div>

    <div id="user-panel">

    </div>
{% endblock %}
