

{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

    {% block body %}
        <script>
            $( function() {
                $( ".js-datepicker-1" ).datepicker();
                $( ".js-datepicker-2" ).datepicker();
            });

            $('#subunitInput').autocomplete({
                source: "{{ path('search/sections') }}",
                minLength: 1,
                delay: 500,
                select: function( event, ui ) {
                    $('#subunitInput').val(ui.item.subunitInput)
                },
            });

        </script>

        <br>
        <hr>

        {{ include('/reports/form.html.twig') }}

        <table class="table" style="margin-bottom: 50px;">
            <thead>
            <tr>
                <th>Subunit</th>
                <th>DARBO KODAS</th>
                <th>DARBŲ APRAŠYMAS</th>
                <th>DARBŲ APRAŠYMAS</th>
            </tr>
            </thead>
            <tbody>


            {% for key, timeStamps in results %}
                {% for times in timeStamps.getTimeStamps %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle">{{ subunits[times.getSubunit] }} </td>
                        <td style="text-align: center; vertical-align: middle">{{ key }} </td>
                        <td style="text-align: center; vertical-align: middle">{{ times.getTimeFrom|date('H:i') }} </td>
                        <td style="text-align: center; vertical-align: middle">{{ times.getTimeTo|date('H:i') }} </td>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="13">{% trans %}no records found{% endtrans %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endblock %}

