{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %} Darbų apskaitos informacinė sistema!{% endblock %}

{% block body %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

    <style>
        @media only screen and (max-width: 576px) {

            .container{
                padding: 0px;
            }

            h1{
                font-size: 8vw;
                text-align: center;
            }
            p{
                font-size: 4vw;
                word-wrap: break-word;overflow-x: hidden
            }
        }

        @media (min-width: 576px) {
            h1{
                font-size: 2rem;
                text-align: center;
            }
            p{
                font-size: 1.2rem;
                overflow-wrap: break-word;overflow-x: hidden
            }
        }

        @media (min-width: 768px) {
            h1{
                text-align: center;
                font-size: 2rem;
            }
            p{
                text-align: center;
                font-size: 1.4rem;
                overflow-wrap: break-word;overflow-x: hidden
            }
        }

        @media (min-width: 992px) {
            h1{
                font-size: 2.8rem;
                text-align: center

            }
            p{
                font-size: 1.2rem;
                overflow-wrap: break-word;overflow-x: hidden
            }
        }

    </style>

    <div class="container">

            {% if (is_granted('ADMIN')) %}
                <h1>Administravimas</h1>
                    <div class="card border-danger mb-3">
                        <div class="row p-3 justify-content-md-center">
                            <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                               <a style=" margin: 5px;" class="btn btn-danger btn-lg btn-squared-default btn-block" href="{{ path('ldap_user_index') }}">
                                   <i style="font-size: 3rem;" class="fas fa-users"></i>
                                   <p >{% trans %}LdapUsers list{% endtrans %}</p>
                               </a>
                           </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 5px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('mechanism_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-snowplow"></i>
                                    <p>{% trans %}Mechanism{% endtrans %}</p>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 5px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('road_section_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-road"></i>
                                    <p>{% trans %}Road Sections{% endtrans %}</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 5px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('winter_road_section') }}">
                                    <i style="font-size: 3rem" class="fas fa-road"></i>
                                    <p>{% trans %}Winter Road Sections{% endtrans %}</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 5px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('structure_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-file-signature"></i>
                                    <p>{% trans %} Contract Jobs {% endtrans %}</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 5px;" class="btn btn-danger btn-squared-default btn-block" href="{{ path('job_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-business-time"></i>
                                    <p>{% trans %} Jobs {% endtrans %}</p>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 5px;" class="btn btn-danger btn-squared-default btn-block" href="{{ path('reserve') }}">
                                    <i style="font-size: 3rem" class="fas fa-warehouse"></i>
                                    <p>{% trans %} Likučiai {% endtrans %}</p>
                                </a>
                            </div>
                        </div>
                    </div>
            {% endif %}

            {% if is_granted('WINTER') %}
                <h1>{% trans %} Winter Maintenance {% endtrans %}</h1>

                <div class="card border-primary mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_maintenance_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p>{% trans %}Winter Maintenance New{% endtrans %}</p>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg  btn-squared-default btn-block" href="{{ path('winter_maintenance_index') }}">
                                <i style="font-size: 3rem" class="fas fa-snowflake"></i>
                                <p>{% trans %}Winter Maintenance List{% endtrans %}</p>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_jobs_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p>{% trans %}Winter Jobs New {% endtrans %}</p>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg  btn-squared-default btn-block" href="{{ path('winter_jobs_index') }}">
                                <i style="font-size: 3rem" class="fas fa-snowplow"></i>
                                <p><br>{% trans %}Winter Jobs List{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('INSPECTION') %}
                <h1>{% trans %}Inspection {% endtrans %}</h1>

                <div class="card border-success mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('inspection_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p>{% trans %}New {% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('inspection_index') }}">
                                <i style="font-size: 3rem" class="fas fa-list-ul"></i>
                                <p>{% trans %}Inspections List{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('DONE_JOBS') %}
                <h1>{% trans %}Jobs{% endtrans %}</h1>
                <div class="card border-success mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('done_jobs_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p>{% trans %}New {% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('done_jobs_index') }}">
                                <i style="font-size: 3rem" class="fas fa-tools"></i>
                                <p>{% trans %}Jobs list{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('RESTRICTIONS') %}
                <h1>{% trans %} Restrictions {% endtrans %}</h1>
                <div class="card border-success mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('restriction_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p>{% trans %}New{% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('restriction_index') }}">
                                <i style="font-size: 3rem" class="fas fa-unlock-alt"></i>
                                <p>{% trans %}Restrictions{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('FLOOD') %}
                <h1>{% trans %} Flooded roads {% endtrans %}</h1>
                <div class="card border-warning mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-warning btn-lg btn-squared-default btn-block" href="{{ path('flooded_roads_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p>{% trans %}New{% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-warning btn-lg  btn-squared-default btn-block" href="{{ path('flooded_roads_index') }}">
                                <i style="font-size: 3rem" class="fas fa-water"></i>
                                <p>{% trans %}Flooded Roads List{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('INSURED') %}
                <h1>{% trans %}Insured Events{% endtrans %}</h1>

                <div class="card border-success mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('insured_event_index') }}">
                                <i style="font-size: 3rem" class="fas fa-file-signature"></i>
                                <p>{% trans %}Insured Events{% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('uninsured_event_index') }}">
                                <i style="font-size: 3rem" class="fas fa-file-excel"></i>
                                <p>{% trans %}Uninsured Events{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('REPORTS') %}
                <h1>{% trans %}Reports{% endtrans %}</h1>

            <div class="card border-success mb-3">
                <div class="row p-3 justify-content-md-center">
                    <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                        <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('reports') }}">
                            <i style="font-size: 3rem" class="far fa-file"></i>
                            <p>{% trans %}Done Jobs report{% endtrans %}</p>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                        <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('inspection_reports') }}">
                            <i style="font-size: 3rem" class="far fa-file"></i>
                            <p>{% trans %}Inspection report{% endtrans %}</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                        <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('insured_events_report') }}">
                            <i style="font-size: 3rem" class="far fa-file"></i>
                            <p>{% trans %}Insured Events{% endtrans %}</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                        <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('report_done_jobs_by road_level') }}">
                            <i style="font-size: 3rem" class="far fa-file"></i>
                            <p>{% trans %}Sum report{% endtrans %}</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                        <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('reports_restrictions') }}">
                            <i style="font-size: 3rem" class="far fa-file"></i>
                            <p>{% trans %}Restriction{% endtrans %}</p>
                        </a>
                    </div>
                    <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                        <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('reports_filter') }}">
                            <i style="font-size: 3rem" class="far fa-file"></i>
                            <p>{% trans %}Report with filter{% endtrans %}</p>
                        </a>
                    </div>

                    <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                        <a style=" margin: 5px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('reports_filter_inspection') }}">
                            <i style="font-size: 3rem" class="far fa-file"></i>
                            <p>{% trans %}Bendra patrulinių{% endtrans %}</p>
                        </a>
                    </div>
                </div>
            </div>
                <h1>{% trans %}Žiemos ataskaitos{% endtrans %}</h1>

                <div class="card border-primary mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_report_jobs') }}">
                                <i style="font-size: 3rem" class="far fa-file"></i>
                                <p>{% trans %}Žiemos darbų <br> ataskaita{% endtrans %}</p>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_done_jobs') }}">
                                <i style="font-size: 3rem" class="far fa-file"></i>
                                <p>{% trans %}Žiemos atliktų <br> darbų ataskaita{% endtrans %}</p>
                            </a>
                        </div>

                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_done_jobs_type') }}">
                                <i style="font-size: 3rem" class="far fa-file"></i>
                                <p>{% trans %}Žiemos atliktų <br> darbų suminė ataskaita{% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('wintermaintenance_LAKD') }}">
                                <i style="font-size: 3rem" class="far fa-file"></i>
                                <p>{% trans %}Žiemos ataskaita <br> LAKD{% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_report_materials') }}">
                                <i style="font-size: 3rem" class="far fa-file"></i>
                                <p>{% trans %}Žiemos medžiagų <br> ataskaita{% endtrans %}</p>
                            </a>
                        </div>
                        {% if (is_granted('ADMIN') or is_granted('SUPER_VIEWER') ) %}

                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_report_materials_region') }}">
                                <i style="font-size: 3rem" class="far fa-file"></i>
                                <p style="  overflow-wrap: break-word;">{% trans %}Žiemos medžiagų <br> ataskaita regioninė{% endtrans %}</p>
                            </a>
                        </div>

                        {% endif %}

                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 5px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_report_mechanism') }}">
                                <i style="font-size: 3rem" class="far fa-file"></i>
                                <p>{% trans %}Žiemos mechanizmų <br> ataskaita{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>

                <h1>{% trans %}Kitos ataskaitos{% endtrans %}</h1>

                <div class="card border-warning mb-3">
                    <div class="row p-3 justify-content-md-center">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                          <a style=" margin: 5px;" class="btn btn-warning btn-lg btn-squared-default btn-block" href="{{ path('flooded_roads_reports') }}">
                              <i style="font-size: 3rem" class="far fa-file"></i>
                              <p>{% trans %}Flooded Roads report{% endtrans %}</p>
                          </a>
                         </div>
                    </div>
              </div>
            {% endif %}

    </div>
{% endblock %}
