{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %} Darbų apskaitos informacinė sistema!{% endblock %}

{% block body %}

    <style>/*
        .btn-squared-default
        {
            width: 220px !important;
            height: 100px !important;
            font-size: 0.8vw;

        }

        .btn-squared-default:hover
        {
            border: 1px solid white;

        }
        .btn-squared-default-plain
        {
            width: 100px !important;
            height: 100px !important;
            font-size: 10px;
        }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }*/
    </style>

    <div class="container" style="padding-right: 50px; padding-left: 50px;">

            {% if (is_granted('ADMIN')) %}
                <h1>Administravimas</h1>
                    <div class="card border-danger mb-3">
                        <div class="row p-3">
                            <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                               <a style=" margin: 2px;" class="btn btn-danger btn-lg btn-squared-default btn-block" href="{{ path('ldap_user_index') }}">
                                   <i style="font-size: 3rem" class="fas fa-users"></i>
                                   <p style="font-size: 1.1rem">{% trans %}LdapUsers list{% endtrans %}</p>
                               </a>
                           </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 2px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('mechanism_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-snowplow"></i>
                                    <p style="font-size: 1.1rem">{% trans %}Mechanism{% endtrans %}</p>
                                </a>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 2px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('road_section_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-road"></i>
                                    <p style="font-size: 1.1rem">{% trans %}Road Sections{% endtrans %}</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 2px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('winter_road_section') }}">
                                    <i style="font-size: 3rem" class="fas fa-road"></i>
                                    <p style="font-size: 1.1rem">{% trans %}Winter Road Sections{% endtrans %}</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 2px;" class="btn btn-danger btn-lg  btn-squared-default btn-block" href="{{ path('structure_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-file-signature"></i>
                                    <p style="font-size: 1.1rem">{% trans %} Contract Jobs {% endtrans %}</p>
                                </a>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 2px;" class="btn btn-danger btn-squared-default btn-block" href="{{ path('job_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-business-time"></i>
                                    <p style="font-size: 1.1rem">{% trans %} Jobs {% endtrans %}</p>
                                </a>
                            </div>
                        </div>
                    </div>
            {% endif %}

            {% if is_granted('INSPECTION') %}
                <h1>{% trans %}Inspection {% endtrans %}</h1>

                <div class="card border-success mb-3">
                    <div class="row p-3">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('inspection_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p style="font-size: 1.1rem">{% trans %}New Inspection {% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('inspection_index') }}">
                                <i style="font-size: 3rem" class="fas fa-list-ul"></i>
                                <p style="font-size: 1.1rem">{% trans %}Inspections List{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}

            {% if is_granted('DONE_JOBS') %}
                <h1>{% trans %}Jobs{% endtrans %}</h1>
                <div class="card border-success mb-3">
                    <div class="row p-3">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('done_jobs_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p style="font-size: 1.1rem">{% trans %}New Job {% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('done_jobs_index') }}">
                                <i style="font-size: 3rem" class="fas fa-list-ul"></i>
                                <p style="font-size: 1.1rem">{% trans %}Jobs list{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}


                <div class="row" style="margin: 0px;padding: 0px;">

                    <div class="col-md-6 row" style="margin: 0px;padding: 0px;">
                        {% if is_granted('RESTRICTIONS') %}
                            <h1 class="col-12">{% trans %} Restrictions {% endtrans %}</h1>


                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 2px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('restriction_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-list-ul"></i>
                                    <p style="font-size: 1.1rem">{% trans %}Restrictions{% endtrans %}</p>
                                </a>
                            </div>

                        {% endif %}
                    </div>


                    <div class="col-md-6 row" style="margin: 0px;padding: 0px;">
                        {% if is_granted('FLOOD') %}
                            <h1 class="col-12">{% trans %} Flooded roads {% endtrans %}</h1>

                            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12" align="center">
                                <a style=" margin: 2px;" class="btn btn-warning btn-lg  btn-squared-default btn-block" href="{{ path('flooded_roads_index') }}">
                                    <i style="font-size: 3rem" class="fas fa-list-ul"></i>
                                    <p style="font-size: 1.1rem">{% trans %}Flooded Roads List{% endtrans %}</p>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>


            {% if is_granted('INSURED') %}
                <h1>{% trans %}Insured Events{% endtrans %} ir {% trans %}Uninsured Events{% endtrans %}</h1>

                <div class="card border-success mb-3">
                    <div class="row p-3">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-success btn-lg btn-squared-default btn-block" href="{{ path('insured_event_index') }}">
                                <i style="font-size: 3rem" class="fas fa-file-signature"></i>
                                <p style="font-size: 1.1rem">{% trans %}Insured Events{% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-success btn-lg  btn-squared-default btn-block" href="{{ path('uninsured_event_index') }}">
                                <i style="font-size: 3rem" class="fas fa-file-excel"></i>
                                <p style="font-size: 1.1rem">{% trans %}Uninsured Events{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>

            {% endif %}


            {% if is_granted('WINTER') %}
                <h1>{% trans %} Winter Maintenance {% endtrans %}</h1>

                <div class="card border-primary mb-3">
                    <div class="row p-3">
                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_maintenance_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p style="font-size: 0.8rem">{% trans %}Winter Maintenance New{% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-primary btn-lg  btn-squared-default btn-block" href="{{ path('winter_maintenance_index') }}">
                                <i style="font-size: 3rem" class="fas fa-list-ul"></i>
                                <p style="font-size: 0.9rem">{% trans %}Winter Maintenance List{% endtrans %}</p>
                            </a>
                        </div>


                        <div class="col-lg-3 col-md-6  col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-primary btn-lg btn-squared-default btn-block" href="{{ path('winter_jobs_new') }}">
                                <i style="font-size: 3rem" class="fas fa-folder-plus"></i>
                                <p style="font-size: 1.1rem">{% trans %}Winter Jobs New {% endtrans %}</p>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12" align="center">
                            <a style=" margin: 2px;" class="btn btn-primary btn-lg  btn-squared-default btn-block" href="{{ path('winter_jobs_index') }}">
                                <i style="font-size: 3rem" class="fas fa-list-ul"></i>
                                <p style="font-size: 1.1rem">{% trans %}Winter Jobs List{% endtrans %}</p>
                            </a>
                        </div>
                    </div>
                </div>

            {% endif %}

            {% if is_granted('REPORTS') %}
            <h1>{% trans %}Reports{% endtrans %}</h1>
            <a class="btn btn-success btn-squared-default btn-block" href="{{ path('reports') }}">{% trans %}Done Jobs report{% endtrans %}</a>
            <a class="btn btn-success btn-squared-default btn-block" href="{{ path('inspection_reports') }}">{% trans %} Inspection report{% endtrans %}</a>
            <a class="btn btn-success btn-squared-default btn-block" href="{{ path('insured_events_report') }}">{% trans %} Insured Events {% endtrans %}</a>
            <a class="btn btn-success btn-squared-default btn-block" href="{{ path('report_done_jobs_by road_level') }}">{% trans %} Sum report {% endtrans %}</a>
            <a class="btn btn-success btn-squared-default btn-block" href="{{ path('reports_restrictions') }}">{% trans %} Restriction {% endtrans %}</a>
            <a class="btn btn-success btn-squared-default btn-block" href="{{ path('reports_filter') }}">{% trans %} Report with filter {% endtrans %}</a>
            <a class="btn btn-success btn-squared-default btn-block" href="{{ path('reports_filter_inspection') }}">{% trans %} Bendra patrulinių {% endtrans %}</a>
            <a class="btn btn-primary btn-squared-default btn-block" href="{{ path('winter_report_jobs') }}">{% trans %} Žiemos darbų ataskaita {% endtrans %}</a>
            <a class="btn btn-primary btn-squared-default btn-block" href="{{ path('winter_done_jobs') }}">{% trans %} Žiemos atliktu darbų ataskaita{% endtrans %}</a>
            <a class="btn btn-primary btn-squared-default btn-block" href="{{ path('winter_done_jobs_type') }}">{% trans %} Žiemos atliktu darbų suminė ataskaita{% endtrans %}</a>
            <a class="btn btn-primary btn-squared-default btn-block" href="{{ path('wintermaintenance_LAKD') }}">{% trans %} Žiemos ataskaita LAKD {% endtrans %}</a>
            <a class="btn btn-primary btn-squared-default btn-block" href="{{ path('winter_report_materials') }}">{% trans %} Žiemos medžiagų ataskaita{% endtrans %}</a>
            {% if (is_granted('ADMIN') or is_granted('SUPER_VIEWER') ) %}
                <a class="btn btn-primary btn-squared-default btn-block" href="{{ path('winter_report_materials_region') }}">{% trans %} Žiemos medžiagų ataskaita regioninė{% endtrans %}</a>
            {% endif %}
            <a class="btn btn-primary btn-squared-default btn-block" href="{{ path('winter_report_mechanism') }}">{% trans %} Žiemos mechanizmų ataskaita {% endtrans %}</a>
            <a class="btn btn-warning btn-squared-default btn-block" href="{{ path('flooded_roads_reports') }}">{% trans %} Flooded Roads report {% endtrans %}</a>
            {% endif %}

    </div>
{% endblock %}
