{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %}{% trans %}Road Sections{% endtrans %}{% endblock %}

{% block body %}
    <style>
        thead { display: table-header-group; }
        tr{page-break-inside: avoid !important;}
    </style>
    <h1>{% trans %}Road Sections{% endtrans %}</h1>

    <a type="button" class="btn btn-primary btn-lg btn-block" href="{{ path('road_section_new') }}">{% trans %}Create new road{% endtrans %}</a>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}RoadSectionId{% endtrans %}</th>
                <th>{% trans %}RoadSectionName {% endtrans %}</th>
                <th>{% trans %}UnitId{% endtrans %}</th>
                <th>{% trans %}Section begin{% endtrans %}</th>
                <th>{% trans %}Section end{% endtrans %}</th>
                <th>{% trans %}actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for road_section in road_sections %}
            <tr>
                <td>{{ road_section.id }}</td>
                <td>{{ road_section.SectionId }}</td>
                <td>{{ road_section.SectionName }}</td>
                <td>{{ road_section.UnitId }}</td>
                <td>{{ road_section.SectionBegin }}</td>
                <td>{{ road_section.SectionEnd }}</td>
                <td>
                    <a class="btn btn-info btn-lg" href="{{ path('road_section_show', {'id': road_section.id}) }}">{% trans %}show{% endtrans %}</a>
                    <a class="btn btn-success btn-lg" href="{{ path('road_section_edit', {'id': road_section.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{% trans %}no records found{% endtrans %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}