{% extends 'base.html.twig' %}

{% block title %}RoadSection index{% endblock %}

{% block body %}
    <style>
        thead { display: table-header-group; }
        tr{page-break-inside: avoid !important;}
    </style>
    <h1>RoadSection index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SectionId</th>
                <th>UnitId</th>
                <th>SectionBegin</th>
                <th>SectionEnd</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for road_section in road_sections %}
            <tr>
                <td>{{ road_section.id }}</td>
                <td>{{ road_section.SectionId }}</td>
                <td>{{ road_section.UnitId }}</td>
                <td>{{ road_section.SectionBegin }}</td>
                <td>{{ road_section.SectionEnd }}</td>
                <td>
                    <a href="{{ path('road_section_show', {'id': road_section.id}) }}">show</a>
                    <a href="{{ path('road_section_edit', {'id': road_section.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('road_section_new') }}">Create new</a>
{% endblock %}