{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %}RoadSection{% endblock %}

{% block body %}
    <h1>RoadSection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ road_section.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}RoadSectionId{% endtrans %}</th>
                <td>{{ road_section.SectionId }}</td>
            </tr>
            <tr>
                <th>{% trans %}UnitId{% endtrans %}</th>
                <td>{{ road_section.UnitId }}</td>
            </tr>
            <tr>
                <th>{% trans %}RoadSectionBegin{% endtrans %}</th>
                <td>{{ road_section.SectionBegin }}</td>
            </tr>
            <tr>
                <th>{% trans %}RoadSectionEnd{% endtrans %}</th>
                <td>{{ road_section.SectionEnd }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg" href="{{ path('road_section_index') }}">{% trans %}back to list{% endtrans %}</a>

    <a class="btn btn-success btn-lg" href="{{ path('road_section_edit', {'id': road_section.id}) }}">{% trans %}edit{% endtrans %}</a>

    {{ include('road_section/_delete_form.html.twig') }}
{% endblock %}