<script>
    $( function() {
        function log( message ) {
            $( "<div>" ).text( message ).prependTo( "#log" );
            $( "#log" ).scrollTop( 0 );
        }
        $( "#inspection_RoadIdd" ).autocomplete({
            source: "{{ path('search/road') }}",
            minLength: 2,
            delay: 500,
            select: function( event, ui ) {
                $('#inspection_RoadId').val(ui.item.section_id),
                $('#inspection_RoadSectionBegin').val(ui.item.section_begin),
                $('#inspection_RoadSectionEnd').val(ui.item.section_end)
            },
        });
        $( ".js-datepicker" ).datepicker();
    });
</script>
{{ form_start(form) }}
    {{ form_widget(form) }}
<button class="btn btn-success btn-block btn-lg">{{ button_label|default('Save')|trans({}, 'translation') }} </button>
{{ form_end(form) }}