{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}
{% block title %} {% trans %}Inspection {% endtrans %}{% endblock %}

{% block body %}

    <script>
        $( function() {
            $( ".js-datepicker" ).datepicker();
        });
    </script>

    <h2>{% trans %}Inspection {% endtrans %} </h2>
    <a class="btn btn-success btn-block btn-lg" href="{{ path('inspection_new') }}"><i class="fa fa-plus-square"></i> {% trans %} New {% endtrans %}</a>
    <a class="btn btn-light btn-block btn-lg" href="{{ path('main') }}">{% trans %}back to list{% endtrans %}</a>
    <br>

    <form class="form-inline">
        <input style="margin: 5px" class="form-control js-datepicker" placeholder="Pasirinkite datą" value="{{ app.request.get('dateFlter') }}" type="text" name="dateFilter">
        <input style="margin: 5px" class="form-control" placeholder="Įveskite kelio nr" value="{{ app.request.get('sectionIdFiler') }}" type="text" name="sectionIdFiler">

        <select style="margin: 5px" class="form-control" name="sectionTypeFilter">
            {% if  app.request.get('sectionTypeFilter') == "Patrulinė"  %}
                <option>{{ app.request.get('sectionTypeFilter') }}</option>
                <option>Sustiprinta</option>
            {% else %}
                <option>Sustiprinta</option>
                <option>Patrulinė</option>
            {% endif %}
        </select>

        <select style="margin: 5px" class="form-control" name="limit">
            {% if  app.request.get('limit') == 20  %}
                <option>{{ app.request.get('limit') }}</option>
                <option>50</option>
                <option>100</option>
            {% elseif  app.request.get('limit')  == 50 %}
                <option>{{ app.request.get('limit') }}</option>
                <option>20</option>
                <option>100</option>
            {% elseif app.request.get('limit') == 100 %}
                <option>{{ app.request.get('limit') }}</option>
                <option>20</option>
                <option>50</option>
            {% else %}
                <option>20</option>
                <option>50</option>
                <option>100</option>
            {% endif %}
        </select>
        <button class="btn btn-lg"><i class="fa fa-filter"> Filtruoti</i></button>
    </form>
    <br>

    <table class="table table-sm thead-dark table-bordered">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle"> {% trans %} RoadId {% endtrans %}</th>
                <th style="text-align: center"> {% trans %} Inspection Note {% endtrans %} </th>
                <th style="text-align: center; vertical-align: middle"> {% trans %} Inspection Date {% endtrans %} </th>
                <th style="text-align: center; vertical-align: middle"> {% trans %} RepairDate {% endtrans %} </th>
                <th style="text-align: center; vertical-align: middle"> {% trans %} Tipas {% endtrans %} </th>
                <th style="text-align: center; vertical-align: middle"> {% trans %} Username {% endtrans %} </th>
            </tr>
        </thead>
        <tbody>
        {% for inspection in pagination %}
            <tr {% if loop.index is odd %}class="color"{% endif %}>
            <tr>
                <td style="white-space: nowrap; text-align: center; vertical-align: middle">{{ inspection.RoadId }} ({{ inspection.RoadSectionBegin }}; {{ inspection.RoadSectionEnd }})</td>
                <td style="text-align: center; vertical-align: middle">{{ inspection.Note }} {% if inspection. IsAdditional%} ( Kelio būklė: {{ inspection.RoadCondition }}; Bangos dydis: {{ inspection.WaveSize }} cm. Vieta: {{ inspection.place }} km. ) {% endif %}</td>
                <td style="text-align: center; vertical-align: middle">{{ inspection.RepairDate ? inspection.RepairDate|date('Y-m-d') : '' }}</td>
                <td style="text-align: center; vertical-align: middle">
                    {% for job in inspection.getJob %}
                        {% if job.DoneJobDate != null %}
                        <a data-placement="auto" data-toggle="tooltip" data-html="true" title="<b>Data:</b> {{ job.DoneJobDate ? job.DoneJobDate|date('Y-m-d')  : '' }} <br><b>Darbas:</b> {{ job.JobName }} <br><b>Kelias:</b> {{ job.RoadSection }} <br><b>Kiekis:</b> {{ job.Quantity }}
                        " href="{{ path('done_jobs_show', {'id': job.Id}) }}">{{ job.DoneJobDate ? job.DoneJobDate|date('Y-m-d')  : '' }}</a><br>
                    {% endif %}
                    {% endfor %}
                    <a class="btn btn-success" href="{{ path('done_jobs_add_job_to_inspection', {'id': inspection.Id}) }}">
                        <i class="fa fa-plus-circle"></i> {% trans %} Add {% endtrans %}</a>
            <td style="text-align: center; vertical-align: middle"> {% if inspection.IsAdditional %} <p style="background-color: #F5871F; font-size: inherit; padding: 1em; margin: auto" class="fa fa-road">Sustiprinta</p> {% else %} <p style="background-color: #6b9311; font-size: inherit; padding: 1em; margin: auto" class="fa fa-road"> Patrulinė </p> {% endif %}</td>
            <td style="text-align: center; vertical-align: middle">{{ inspection.Username }}</td>
                <td style="text-align: center; vertical-align: middle">
                    {% include 'menu_by_roles/edit_view_inspection.html.twig' %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(pagination) }}
    </div>
<script>
    $(function () {
    $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% endblock %}