{% extends 'base.html.twig' %}

{% block title %}Inspection{% endblock %}

{% block body %}
    <h1>Inspection</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ inspection.id }}</td>
            </tr>
            <tr>
                <th>RoadId</th>
                <td>{{ inspection.RoadId }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ inspection.Note }}</td>
            </tr>
            <tr>
                <th>RepairDate</th>
                <td>{{ inspection.RepairDate ? inspection.RepairDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('inspection_index') }}">back to list</a>

    <a href="{{ path('inspection_edit', {'id': inspection.id}) }}">edit</a>

    {{ include('inspection/_delete_form.html.twig') }}
{% endblock %}