{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %} {{ done_job.jobId }}{% endblock %}

{% block body %}
    <h2>{{ done_job.jobId }}</h2>

    <script>
        $( function() {
            $( ".js-datepicker" ).datepicker();
        });
    </script>

    {{ include('done_jobs/_form.html.twig', {'button_label': 'Update'|trans }) }}
    {{ include('done_jobs/_delete_form.html.twig') }}
    <a class="btn btn-info btn-block btn-lg" href="{{ path('done_jobs_index') }}">{% trans %}back to list{% endtrans %}</a>
{% endblock %}