{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %}{% trans %}Mechanism{% endtrans %}{% endblock %}

{% block body %}
    <style>
        thead { display: table-header-group; }
        tr{page-break-inside: avoid !important;}
    </style>
    <h1>{% trans %}Mechanism{% endtrans %}</h1>

    <a type="button" class="btn btn-primary btn-lg btn-block" href="{{ path('mechanism_new') }}">{% trans %}Create new mechanism{% endtrans %}</a>

    <table class="table">
        <thead>
        <tr>
            <th>{% trans %}Id{% endtrans %}</th>
            <th>{% trans %}Mechanism number{% endtrans %}</th>
            <th>{% trans %}Type{% endtrans %}</th>
            <th>{% trans %}Subunit{% endtrans %}</th>
            <th >{% trans %}actions{% endtrans %}</th>
        </tr>
        </thead>
        <tbody>
        {% for mech in mechanisms %}
            <tr>
                <td>{{ mech.id }}</td>
                <td>{{ mech.Number }}</td>
                <td>{{ mech.Type }}</td>
                <td>{{ mech.Subunit }}</td>
                <td>
                    <a class="btn btn-info btn-lg" href="{{ path('mechanism_show', {'id': mech.id}) }}">{% trans %}show{% endtrans %}</a>

                    <a class="btn btn-success btn-lg" href="{{ path('mechanism_edit', {'id': mech.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}