{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

    {% block body %}
        <script>
            $( function() {
                $( ".js-datepicker-1" ).datepicker();
                $( ".js-datepicker-2" ).datepicker();
            });
        </script>
        <style>
            @media print {
                .print_a {
                    overflow: visible !important;
                }
            }
            thead { display: table-header-group; }
            tr{page-break-inside: avoid !important;}
        </style>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        <br>
        <hr>
        <div class="print_a">
            <table class="table table-sm thead-dark table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Tarnyba {% endtrans %}</th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Autogreideris {% endtrans %}</th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Traktorius {% endtrans %}</th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Sunkvežimis {% endtrans %}</th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Kiti {% endtrans %}</th>

                </tr>
                </thead>
                <tbody>
                {% set counter = 0 %}
                {% for mechanism in winter_mechanism_report | default('') %}
                    <tr>
                        <td>{{ array_keys[counter] }}</td>
                        <td>{{ mechanism['Autogreideris'] }}</td>
                        <td>{{ mechanism['Traktorius'] }}</td>
                        <td>{{ mechanism['Sunkvežimis'] }}</td>
                        <td>{{ mechanism['Kiti'] }}</td>
                        {% set counter = counter + 1%}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endblock %}
