
<script>

    var takenIds;

    // this variable is the list in the dom, it's initiliazed when the document is ready
    var $collectionHolder;
    // the link which we click on to add new items
    var $addNewItem = $('<div class="col-3 text-center"><a style=" display: inline-block;vertical-align: middle;float: none;" href="#" class="btn btn-info">Add new item</a></div>');
    // when the page is loaded and ready
    $(document).ready(function () {
        // get the collectionHolder, initilize the var by getting the list;
        $collectionHolder = $('#road_section_list');

        $collectionHolder.append($addNewItem);

        if($collectionHolder.find('.panel').length == 0)
        {
            $collectionHolder.data('index', 0);
        }else {
            var $string = $collectionHolder.find('.panel').last().find('[id*=winter_jobs_RoadSections_]').attr('id');
            $string = $string.replace('winter_jobs_RoadSections_', '');
            $string = $string.replace('_RoadSectionSearch', '');
            console.log(($string));
            $collectionHolder.data('index', parseInt($string) + 1);
        }



        $collectionHolder.find('.panel').each(function (){

            addRemoveButton($(this));
        });


        refreshAutocorrect();

        // handle the click event for addNewItem
        $addNewItem.click(function (e) {
            // preventDefault() is your  homework if you don't know what it is
            // also look up preventPropagation both are usefull
            e.preventDefault();
            // create a new form and append it to the collectionHolder
            // and by form we mean a new panel which contains the form
            addNewForm();
        })
    });
    /*
     * creates a new form and appends it to the collectionHolder
     */
    function addNewForm() {
        // getting the prototype
        // the prototype is the form itself, plain html
        var prototype = $collectionHolder.data('prototype');
        // get the index
        // this is the index we set when the document was ready, look above for more info
        var index = $collectionHolder.data('index');
        // create the form
        var newForm = prototype;

        newForm = newForm.replace(/__name__/g, index);
        $collectionHolder.data('index', index+1);

        // replace the __name__ string in the html using a regular expression with the index value
        // incrementing the index data and setting it again to the collectionHolder
        // create the panel
        // this is the panel that will be appending to the collectionHolder
        var $panel = $('' +
            '<div class="panel col-3">' +
                '<div class="panel-heading text-center">' +
                    '<strong>New Road</strong>' +
                '</div>' +
            '</div>');
        // create the panel-body and append the form to it
        var $panelBody = $('<div class="panel-body" style="margin-bottom: 32px;"></div>').append(newForm);

        $panel.append($panelBody);

        addRemoveButton($panel);
        // append the panel to the addNewItem
        // we are doing it this way to that the link is always at the bottom of the collectionHolder
        $addNewItem.before($panel);

        refreshAutocorrect();

    }

    /**
     * adds a remove button to the panel that is passed in the parameter
     * @param $panel
     */
    function addRemoveButton ($panel) {
        // create remove button
        var $removeButton = $('<a href="#" class="btn btn-danger col-12">Remove</a>');
        // appending the removebutton to the panel footer
        var $panelFooter = $('<div class="panel-footer"></div>').append($removeButton);
        // handle the click event of the remove button
        $removeButton.click(function (e) {
            e.preventDefault();
            // gets the parent of the button that we clicked on "the panel" and animates it
            // after the animation is done the element (the panel) is removed from the html
            $(e.target).parents('.panel').fadeOut(150, function () {
                $(this).remove();
            });

            refreshAutocorrect();
        });
        // append the footer to the panel
        $panel.append($panelFooter);
    }

    function refreshAutocorrect() {


            $('#road_section_list').find('.panel').each(function () {

            var Salt =              $(this).find('[id*=_SaltValue]').attr('id');
            var SaltChecked =       $(this).find('[id*=_SaltChecked]').attr('id');
            var Sand =              $(this).find('[id*=_SandValue]').attr('id');
            var SandChecked =       $(this).find('[id*=_SandChecked]').attr('id');
            var Solution =          $(this).find('[id*=_SolutionValue]').attr('id');
            var SolutionChecked =   $(this).find('[id*=_SolutionChecked]').attr('id');

            var sectionSearch =     $(this).find('[id*=_RoadSectionSearch]').attr('id');
            var sectionId =         $(this).find('[id*=_SectionId]').attr('id');
            var sectionName =       $(this).find('[id*=_SectionName]').attr('id');
            var sectionBegin =      $(this).find('[id*=_SectionBegin]').attr('id');
            var sectionEnd =        $(this).find('[id*=_SectionEnd]').attr('id');

            var saltLabel = $(this).find('label[for*=_SaltValue]');
            var sandLabel = $(this).find('label[for*=_SandValue]');
            var solutionLabel = $(this).find('label[for*=_SolutionValue]');

            if($('#'+SaltChecked).prop('checked'))
            {
                $('#'+Salt).css('display', 'inline');
                saltLabel.css('display', 'inline');
            }else{
                $('#'+Salt).css('display', 'none');
                saltLabel.css('display', 'none');
            }

            if($('#'+SandChecked).prop('checked'))
            {
                $('#'+Sand).css('display', 'inline');
                sandLabel.css('display', 'inline');
            }else{
                $('#'+Sand).css('display', 'none');
                sandLabel.css('display', 'none');
            }

            if($('#'+SolutionChecked).prop('checked'))
            {
                $('#'+Solution).css('display', 'inline');
                solutionLabel.css('display', 'inline');
            }else{
                $('#'+Solution).css('display', 'none');
                solutionLabel.css('display', 'none');
            }

            $('#' + SaltChecked).click(function () {

                if ($('#' + SaltChecked).prop('checked')) {
                    $('#'+Salt).css('display', 'inline');
                    saltLabel.css('display', 'inline');
                }
                else {
                    $('#'+Salt).val("");
                    $('#'+Salt).css('display', 'none');
                    saltLabel.css('display', 'none');
                }
            });
            $('#' + SandChecked).click(function () {
                if ($('#' + SandChecked).prop('checked')) {
                    $('#'+Sand).css('display', 'inline');
                    sandLabel.css('display', 'inline');
                }else{
                    $('#'+Sand).val("");
                    $('#'+Sand).css('display', 'none');
                    sandLabel.css('display', 'none');
                }
            });
            $('#' + SolutionChecked).click(function () {
                if ($('#' + SolutionChecked).prop('checked')) {
                    $('#'+Solution).css('display', 'inline');
                    solutionLabel.css('display', 'inline');
                }else{
                    $('#'+Solution).val("");
                    $('#'+Solution).css('display', 'none');
                    solutionLabel.css('display', 'none');
                }
            });

            $('#'+sectionSearch).autocomplete({
                source: "{{ path('search/road') }}",
                minLength: 2,
                delay: 500,
                select: function( event, ui ) {
                    $('#'+sectionId).val(ui.item.section_id),
                        $('#'+sectionName).val(ui.item.road_name),
                        $('#'+sectionBegin).val(ui.item.section_begin),
                        $('#'+sectionEnd).val(ui.item.section_end)
                },
            });
            $( ".js-datepicker" ).datepicker();
            });
    }

</script>

{{ form_start(form) }}
<div id="road_section_list" data-prototype="{{ form_widget(form.RoadSections.vars.prototype)|e('html_attr') }}" class="row" style="align-items: top;">
    {% for row in form.RoadSections %}
        <div class="panel col-sm-6 col-md-3" style="vertical-align: top;">
            <div class="panel-heading text-center">
                <strong>Road</strong>
            </div>
            <div class="panel-body">
                {{  form_row(row.RoadSectionSearch) }}

                {{ form_row(row.SectionId) }}
                {{ form_row(row.SectionName) }}
                {{ form_row(row.SectionBegin) }}
                {{ form_row(row.SectionEnd) }}
                {{ form_row(row.level) }}
                {{ form_row(row.SaltChecked) }}
                {{ form_row(row.SandChecked) }}
                {{ form_row(row.SolutionChecked) }}
                {{ form_row(row.SaltValue) }}
                {{ form_row(row.SandValue) }}
                {{ form_row(row.SolutionValue) }}

            </div>
        </div>
    {% endfor %}
</div>

<div class="form form-inline">
    {{ form_row(form.TimeFrom) }} &nbsp;&nbsp;
    {{ form_row(form.TimeTo) }}
</div>
<hr>
<div class="row">
    <div id="salt" class="col-sm">
        {{ form_row(form.Mechanism) }}
    </div>
    <div id="salt" class="col-sm">
        {{ form_row(form.job) }}
    </div>
</div>

<div class="col-12">
    {{ form_row(form.save) }}
</div>

{{ form_end(form) }}