{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}
{% block title %}WinterJobs index{% endblock %}
{% block body %}

    <script>
        $( function() {

        });
    </script>

    <a class="btn btn-success btn-block btn-lg" href="{{ path('winter_jobs_new') }}"><i class="fa fa-plus-square"></i> {% trans %} New {% endtrans %}</a>
    <a class="btn btn-light btn-block btn-lg" href="{{ path('main') }}">{% trans %}back to list{% endtrans %}</a>

    <form class="form-inline">
        <input style="margin: 5px" class="form-control js-datepicker" placeholder="Pasirinkite datą" value="{{ app.request.get('dataFilter') }}" type="text" name="dataFilter">
        <input style="margin: 5px" class="form-control" placeholder="Įveskite mechanizma" value="{{ app.request.get('mechanizmFilter') }}" type="text" name="mechanizmFilter">
        <input style="margin: 5px" class="form-control" placeholder="Įveskite tarnyba" value="{{ app.request.get('subunitFilter') }}" type="text" name="subunitFilter">
        <select style="margin: 5px" class="form-control" name="limit">
            {% if  app.request.get('limit') == 20  %}
                <option>{{ app.request.get('limit') }}</option>
                <option>50</option>
                <option>100</option>
            {% elseif  app.request.get('limit')  == 50 %}
                <option>{{ app.request.get('limit') }}</option>
                <option>20</option>
                <option>100</option>
            {% elseif app.request.get('limit') == 100 %}
                <option>{{ app.request.get('limit') }}</option>
                <option>20</option>
                <option>50</option>
            {% else %}
                <option>20</option>
                <option>50</option>
                <option>100</option>
            {% endif %}
        </select>
        <button class="btn btn-lg"><i class="fa fa-filter"> Filtruoti</i></button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>{% trans %} CreatedAt {% endtrans %}</th>
                <th>{% trans %} Subunit {% endtrans %}</th>
                <th>{% trans %} Date {% endtrans %}</th>
                <th>{% trans %} Mechanism {% endtrans %}</th>
                <th>{% trans %} Job {% endtrans %}</th>
                <th>{% trans %} Job namee {% endtrans %}</th>
                <th>{% trans %} JobQuantity {% endtrans %}</th>
                <th>{% trans %} RoadSection {% endtrans %}</th>
                <th>{% trans %} Salt {% endtrans %}</th>
                <th>{% trans %} Sand {% endtrans %}</th>
                <th>{% trans %} Solution {% endtrans %}</th>
                <th>{% trans %} actions {% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for winter_job in winter_jobs | default ('') %}
            <tr>
                <td>{{ winter_job.CreatedAt ? winter_job.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ winter_job.SubunitName }}</td>
                <td>{{ winter_job.Date ? winter_job.Date|date('Y-m-d') : ''}}</td>
                <td>{{ winter_job.Mechanism ? winter_job.Mechanism|join(', ') : '' }}</td>
                <td>{{ winter_job.Job }}</td>
                <td>{{ winter_job.JobId }}</td>
                <td>{{ winter_job.JobQuantity }}</td>
                <td>{{ winter_job.getRoadSectionsStringArray| join('\n')| nl2br }}</td>
                <td>{{ winter_job.getRoadSectionsSalt| join('\n')| nl2br }}</td>
                <td>{{ winter_job.getRoadSectionsSand| join('\n')| nl2br }}</td>
                <td>{{ winter_job.getRoadSectionsSolution| join('\n')| nl2br }}</td>

                <td>
                    <a href="{{ path('winter_jobs_edit', {'id': winter_job.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation d-flex justify-content-center">
        {{ knp_pagination_render(winter_jobs) }}
    </div>

{% endblock %}