{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

    {% block body %}
        <script>
            $( function() {
                $( ".js-datepicker-1" ).datepicker();
                $( ".js-datepicker-2" ).datepicker();
            });
        </script>
        <style>
            @media print {
                .print_a {
                    overflow: visible !important;
                }
            }
            thead { display: table-header-group; }
            tr{page-break-inside: avoid !important;}
        </style>

            {{ include('/reports/form.html.twig') }}
        <br>
        <hr>

        <div class="print_a">
            <table class="table table-sm thead-dark table-bordered">
                <thead>
                <tr>
                    <th>{% trans %} JobId {% endtrans %}</th>
                    <th>{% trans %} JobName  {% endtrans %}</th>
                    <th>{% trans %} RoadSection {% endtrans %}</th>
                    <th>{% trans %} RoadSectionBegin {% endtrans %}</th>
                    <th>{% trans %} RoadSectionEnd {% endtrans %}</th>
                    <th>{% trans %} Unit of {% endtrans %}</th>
                    <th>{% trans %} Quantity {% endtrans %}</th>
                    <th>{% trans %} username {% endtrans %}</th>
                    <th>{% trans %} DoneJobDate {% endtrans %}</th>
                    <th style="width: 200px">{% trans %} Comments  {% endtrans %}</th>
                </tr>
                </thead>
                <tbody>
                {% for done_job in report | default ('') %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                    <tr>
                        <td>{{ done_job.JobId }}</td>
                        <td>{{ done_job.JobName }}</td>
                        <td>{{ done_job.RoadSection }}</td>
                        <td>{{ done_job.RoadSectionBegin }}</td>
                        <td>{{ done_job.RoadSectionEnd }}</td>
                        <td>{{ done_job.UnitOf }}</td>
                        <td>{{ done_job.Quantity }}</td>
                        <td>{{ done_job.Username }}</td>
                        <td>{{ done_job.DoneJobDate ? done_job.DoneJobDate|date('Y-m-d') : '' }}</td>
                        <td>{{ done_job.Note }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">{% trans %}no records found{% endtrans %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            ________________________________________________________________________________________________
        </div>
    {% endblock %}
