{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

    {% block body %}
        <script>
            $( function() {
                $( ".js-datepicker-1" ).datepicker();
                $( ".js-datepicker-2" ).datepicker();
            });
        </script>
        <style>
            @media print {
                .print_a {
                    overflow: visible !important;
                }
            }
            thead { display: table-header-group; }
            tr{page-break-inside: avoid !important;}
        </style>

            {{ include('/reports/form.html.twig') }}
        <br>
        <hr>

        <div class="print_a">
            <table style="font-size: small; text-align: center; vertical-align: middle" class="table table-sm thead-dark table-bordered">
                <thead>
                <tr>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} RoadId {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} RoadName {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Section begin {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Section end {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Place {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Jobs {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Restrictions {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Date from {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Date to {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Subunit {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Notes {% endtrans %} </th>
                    <th style="text-align: center; vertical-align: middle"> {% trans %} Contractor {% endtrans %} </th>
                </tr>
                </thead>
                <tbody>
                {% for restriction in report | default('') %}
                    <tr>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.RoadId }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.RoadName }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.SectionBegin }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.SectionEnd }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.Place }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.Jobs }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.Restrictions }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.DateFrom ? restriction.DateFrom|date('Y-m-d') : '' }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.DateTo ? restriction.DateTo|date('Y-m-d') : '' }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.subunit }} </td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.Notes }}</td>
                        <td style="text-align: center; vertical-align: middle">{{ restriction.Contractor }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="13">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            ________________________________________________________________________________________________
        </div>
    {% endblock %}
