{% extends 'base.html.twig' %}
{% trans_default_domain 'translation' %}

{% block title %}{% trans %}LdapUsers list{% endtrans %}{% endblock %}

{% block body %}
    <h1>{% trans %}LdapUsers list{% endtrans %}</h1>

    <form class="form-inline">
        <input style="margin: 5px" class="form-control js-datepicker" placeholder="Veskite varda" value="{{ app.request.get('filter') }}" type="text" name="filter">
        <button class="btn btn-lg"><i class="fa fa-filter"> Filtruoti</i></button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th> {% trans %}Name {% endtrans %}</th>
                <th>{% trans %}UnitIdd {% endtrans %}</th>
                <th> {% trans %}SubUnitId {% endtrans %}</th>
                <th> {% trans %}Role {% endtrans %}</th>
                <th> {% trans %}Inspection {% endtrans %}</th>
                <th> {% trans %}DoneJobs {% endtrans %}</th>
                <th> {% trans %}Restrictions {% endtrans %}</th>
                <th> {% trans %}Winter {% endtrans %}</th>
                <th> {% trans %}Insured Events {% endtrans %}</th>
                <th> {% trans %}Reports {% endtrans %}</th>
                <th> {% trans %}Flood {% endtrans %}</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ldap_user in ldap_users %}
            <tr>
                <td>{{ ldap_user.name }}</td>
                <td>{{ ldap_user.Unit.unitId }}</td>
                <td>{{ ldap_user.subunit.subunitId | default(' ') }}</td>
                <td>{{ ldap_user.Role}}</td>
                <td>{{ ldap_user.Inspection==0?"Nemato":(ldap_user.Inspection==1?"Mato":(ldap_user.Inspection==2?"Koreguoja":"Koreguoja, ir trina"))}}</td>
                <td>{{ ldap_user.DoneJobs==0?"Nemato":(ldap_user.DoneJobs==1?"Mato":(ldap_user.DoneJobs==2?"Koreguoja":"Koreguoja, ir trina"))}}</td>
                <td>{{ ldap_user.Restrictions==0?"Nemato":(ldap_user.Restrictions==1?"Mato":(ldap_user.Restrictions==2?"Koreguoja":"Koreguoja, ir trina"))}}</td>
                <td>{{ ldap_user.Winter==0?"Nemato":(ldap_user.Winter==1?"Mato":(ldap_user.Winter==2?"Koreguoja":"Koreguoja, ir trina"))}}</td>
                <td>{{ ldap_user.InsuredEvent==0?"Nemato":(ldap_user.InsuredEvent==1?"Mato":(ldap_user.InsuredEvent==2?"Koreguoja":"Koreguoja, ir trina"))}}</td>
                <td>{{ ldap_user.Reports==0?"Nemato":(ldap_user.Reports==1?"Mato":(ldap_user.Reports==2?"Koreguoja":"Koreguoja, ir trina"))}}</td>
                <td>{{ ldap_user.Flood==0?"Nemato":(ldap_user.Flood==1?"Mato":(ldap_user.Flood==2?"Koreguoja":"Koreguoja, ir trina"))}}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('ldap_user_edit', {'id': ldap_user.id}) }}">{% trans %}edit{% endtrans %}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}