{% extends 'base.html.twig' %}

{% block title %}Personalo sąrašas{% endblock %}

{% block body %}
    <h1 align="center" class="py-3 m-0">Personalo sąrašas</h1>

    <div class="pt-2 mb-2">
        <a href="{{ path('person_new') }}" class="btn btn-block btn-success">Naujas įrašas</a>
    </div>

    <table class="table table-hover mb-2 table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Tarnyba</th>
                <th>Vardas</th>
                <th>Pavardė</th>
                <th>Telefonas</th>
                <th>Adresas</th>
                <th>Paštas</th>
                <th>Rolė</th>
                <th colspan="2">Veiksmai</th>
            </tr>
        </thead>
        <tbody>
        {% for person in people %}
            <tr>
                <td>{{ person['id'] }}</td>
                <td>{{ person['subunit'] }}</td>
                <td>{{ person['name'] }}</td>
                <td>{{ person['surname'] }}</td>
                <td>{{ person['phone'] }}</td>
                <td>{{ person['address'] }}</td>
                <td>{{ person['email'] }}</td>
                <td>{{ person['role'] }}</td>

                <td>
                    {{ include('person/_delete_form.html.twig') }}
                </td>
                <td>
                    <a class="btn btn-success btn-block" href="{{ path('person_edit', {'id': person.id}) }}">Redaguoti</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Nerasta rezultatų</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
