{% trans_default_domain 'translation' %}

<script>
    var txt;

    $(document).ready(function () {

        $("#winter-roads-container").hide();

        triggerClick("#winter-road-trigger","#winter-road-content","#winter-icon");

        paginatorClick("winter-page");
    });

    function paginatorClick(page_type) {
        $(document).on("click", "." + page_type, function() {

            console.log($(this).attr("data-master"));
            console.log($(this).attr("data-" + page_type));

            winterRoadAjax($(this).attr("data-master"), $(this).attr("data-" + page_type));
        });
    }

    function triggerClick(trigger, content, icon) {
        $(document).on("click", trigger, function() {

            $(content).stop();
            $(icon).toggleClass("fa-plus").toggleClass("fa-minus");

            $(content).slideToggle("fast","linear",function () {
                $(icon).toggleClass("open");
            });

        });
    }

    function addPagination(object, page_count, current_page, id, classname) {
        object.html('');
        txt = "";

        if (current_page <= 3)
        {
            for (i = 1; i < page_count; i++) {
                if (i > 5) {
                    break;
                }
                txt += "<a data-master=" + id + " data-"+classname+"=" + i + " class="+classname+" >" + i + "</a>"
            }

            txt += "<a class='disabled' > .... </a>"
            txt += "<a data-master=" + id + " data-"+classname+"=" + page_count + " class='"+classname+"' >" + page_count + "</a>"

        } else if (current_page > page_count-3) {
            txt += "<a data-master=" + id + " data-"+classname+"=" + 1 + " class='"+classname+"' >" + 1 + "</a>"
            txt += "<a class='disabled' > .... </a>"

            for (i = -4; i <= 0;i++ ) {
                var page_num = parseInt(page_count)+i;
                txt += "<a data-master=" + id + " data-"+classname+"=" + page_num + " class='"+classname+"' >" + page_num + "</a>"
            }
        } else {
            txt += "<a data-master=" + id + " data-"+classname+"=" + 1 + " class='"+classname+"' >" + 1 + "</a>"
            txt += "<a class='disabled' > .... </a>"

            for (i = -2; i <= 2;i++ ) {
                var page_num = parseInt(current_page)+i;
                txt += "<a data-master=" + id + " data-"+classname+"=" + page_num + " class='"+classname+"' >" + page_num + "</a>"
            }

            txt += "<a class='disabled' > .... </a>"
            txt += "<a data-master=" + id + " data-"+classname+"=" + page_count + " class='"+classname+"' >" + page_count + "</a>"
        }

        object.append(txt);

        object.find('*[data-'+classname+'="'+ current_page +'"]').addClass("active-page");
    }

    function winterRoadAjax(id, winter_roads_page) {

        var ajaxRoads = $.ajax({
            url: '/structure/ajax/winter_roads',
            type: 'POST',
            dataType: 'json',
            async: true,
            data: {name: id, page: winter_roads_page}
        });

        ajaxRoads.done(function(data) {
            $('#winter-roads-pages').html('');
            $('#winter-roads').html('');

            for (i = 0; i < data[1].length; i++) {
                structure = data[1][i];

                var route = "{{ path('user_show', { 'slug': "PLACEHOLDER" }) }}";
                route = route.replace("PLACEHOLDER", structure['section_id']);

                var e = $('<div style="text-align: center;color: black;" class=\'col-md-4 col-lg-3 p-1\'>' +
                    '<a class="btn-primary btn-lg btn-block" style="color: black;" href=' + route + '>' + structure['section_id'] +"<br/>(" + structure['section_begin'] +"->"+ structure['section_end'] + ')</a>' +
                    '</div>');
                $('#winter-roads').append(e);
            }

            addPagination($("#winter-road-pages"),data[0],winter_roads_page,id,"winter-page");

        }).fail(function(jqXHR, textStatus, errorThrown) {
            alert(textStatus + ': ' + errorThrown);
        });

    }

</script>

<div class="content container-fluid">
    <h1 class="content-header"></h1>
    <div>
        <div id="winter-roads-container" class="card border-primary" style=" box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
            <div class="card-header">
                <h1 id="winter-road-trigger" style="text-align: center;padding-top: 10px;">Žiemos keliai <i id="winter-icon" style="font-size: 1em;" class="fa fa-minus" aria-hidden="true"></i></h1>
            </div>
            <div id="winter-road-content">
                {#
                <div id="winter_search_bar" class="card-body row">
                    <div class="col-md-3">
                        <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                    </div>
                    <div class="col-md-3">
                        <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                    </div>
                    <div class="col-md-3">
                        <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                    </div>
                    <div class="col-md-3">
                        <input class="search-input form-control" placeholder="Įveskite x" value="{{ app.request.get('filterJob') }}" type="text" name="x">
                    </div>
                </div>
                #}

                <div id="winter-roads" class="row" style="margin:10px;"></div>
                <ul id="winter-road-pages" class="pagination" style="padding: 10px;"></ul>
            </div>
        </div>
    </div>

</div>