{% if is_granted('DELETE', inspection) %}
    <a class="fa fa-eye btn btn-outline-primary btn-lg btn-block" href="{{ path('inspection_show', {'id': inspection.id}) }}"></a>
    <a class="fa fa-pencil btn btn-outline-warning btn-lg btn-block" href="{{ path('inspection_edit', {'id': inspection.id}) }}"></a>
{% elseif is_granted('EDIT', inspection) %}
    <a class="fa fa-eye btn btn-outline-primary btn-lg btn-block" href="{{ path('inspection_show', {'id': inspection.id}) }}"></a>
    <a class="fa fa-pencil btn btn-outline-warning btn-lg btn-block" href="{{ path('inspection_edit', {'id': inspection.id}) }}"></a>
{% elseif is_granted('SHOW', inspection) %}
    <a class="fa fa-eye btn btn-outline-primary btn-lg btn-block" href="{{ path('inspection_show', {'id': inspection.id}) }}"></a>
{% endif %}