{% if is_granted('ROLE_ADMIN') %}
<a class="fa fa-eye btn btn-outline-primary btn-lg btn-block" href="{{ path('inspection_show', {'id': inspection.id}) }}"></a>
<a class="fa fa-pencil btn btn-outline-primary btn-lg btn-block" href="{{ path('inspection_edit', {'id': inspection.id}) }}"></a>

{% elseif is_granted('ROLE_SUPER_VIEWER') %}

{% elseif is_granted('ROLE_KT_VIEWER') %}

{% elseif is_granted('ROLE_SUPER_MASTER') %}
    <a href="{{ path('inspection_show', {'id': inspection.id}) }}">show</a>
    <a href="{{ path('inspection_edit', {'id': inspection.id}) }}">edit</a>

{% elseif is_granted('ROLE_ROAD_MASTER') %}
    <a href="{{ path('inspection_show', {'id': inspection.id}) }}">show</a>
    <a href="{{ path('inspection_edit', {'id': inspection.id}) }}">edit</a>


{% elseif is_granted('ROLE_WORKER') %}

{% endif %}